@font-face {
  font-family: 'WhitneyHTF';
  src: url('fonts/WhitneyHTF-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/WhitneyHTF-Bold.woff') format('woff'), url('fonts/WhitneyHTF-Bold.ttf')  format('truetype'), url('fonts/WhitneyHTF-Bold.svg#WhitneyHTF-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WhitneyHTF';
  src: url('fonts/WhitneyHTF-SemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/WhitneyHTF-SemiBold.woff') format('woff'), url('fonts/WhitneyHTF-SemiBold.ttf')  format('truetype'), url('fonts/WhitneyHTF-SemiBold.svg#WhitneyHTF-Bold') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'WhitneyHTF';
  src: url('fonts/WhitneyHTF-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/WhitneyHTF-Book.woff') format('woff'), url('fonts/WhitneyHTF-Book.ttf')  format('truetype'), url('fonts/WhitneyHTF-Book.svg#WhitneyHTF-Bold') format('svg');
  font-weight: 200;
  font-style: normal;
}

/*
-----------------------------------
Emoji - natural display for the web
-----------------------------------
These font face definitions allows to display emoji glyphs intermingled with 
arbitrary characters outside emoji unicode blocks.
Usage
-----
<p style="font-family: emoji;">
You can mix text with em😶ji glyphs, like this one 💓, 
WITHOUT wrapping into any HTML tag. 💕
</p>
Known Limitations
-----------------
- See https://developer.mozilla.org/en-US/docs/Web/CSS/unicode-range 
  for unicode-range CSS descriptor compatibility.
Have fun!
*/

@font-face {
  font-family: emoji;
  
  /* Fonts for text outside emoji blocks */
  src: local('Droid Sans Mono'),
       local('Lucida Console'),
       local('Arial Monospaced'),
       local(Arial);
}

@font-face {
  font-family: emoji;

  src: local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola),
       url('fonts/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
       url('fonts/Symbola-Emoji.woff') format('woff'),
       url('fonts/Symbola-Emoji.ttf') format('truetype');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: white;
  font-family: 'WhitneyHTF', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #333;
  overflow: hidden;
  height: 100%;
}

#content, .App {
  height: 100%;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 2px solid white;
}

.three-bounce .bounce1 {
    background-color: #71c04f;
}

.three-bounce .bounce2 {
    background-color: #71c04f;
}

.three-bounce .bounce3 {
    background-color: #71c04f;
}

.signin-error-message {
    color: #de3226;
    font-size: 12px;
    margin-top: 3px;
}

.signup-error-message {
    color: #de3226;
    font-size: 12px;
    position: absolute;
    margin-top: 3px;
    width: 240px;
    margin-left: -120px;
    left: 50%;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.textfield {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    color: #1c1c1c;
}

.mdl-spinner__circle-clipper {
    border-color: #71c04f;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #71c04f;
}

.mdl-textfield .mdl-js-textfield .mdl-textfield--floating-label .textfield .is-dirty .is-upgraded .is-focused {
    border-color: #71c04f;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.profile-image {
    float: right;
}

.header-tabs-style {
    background-color: #57c6ff;
}

.service-button-base {
    width: 100px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #71c04f;
    color: #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    border-radius: 2px;
    outline: 0;
}

.service-button-selected {
    width: 100px;
    height: 55px;
    background-color: #71c04f;
    border: 1px solid #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    color: #ffffff;
    outline: 0;
    border-radius: 2px;
}

.dismiss-button {
}

.stro-container {
  position: relative;
}

.stro-swipe-container {
  width: 100%;
  position: relative;
  height: 80px;
  z-index: 2;
}

.stro-swipe-container.transition-back {
  transition: all .4s ease;
}

.stro-left, .stro-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: #FFFFFF;
    z-index: 1;
    opacity: 0;
    transition: .25s linear opacity;
}

.stro-content {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #f8f8fa;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #000000
}

.stro-content-selected {
    position: relative;
    display: inline-block;
    width: 120px;
    vertical-align: top;
    background-color: #71c04f;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #FFFFFF
}

.stro-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stro-button span {
  position: absolute;
  top: 27px;
  transform: translate(0, -50%);
  display: block;
}

.stro-button.stro-right-button {
  left: 0;
}
.stro-button.stro-right-button span {
  text-align: center;
  top: 40px;
  font-size: 16px;
  width: 100%;
}
.stro-button.stro-left-button {
  right: 0;
}
.stro-button.stro-left-button span {
  text-align: center;
  margin-right: 6px;
}

.stro-swipe-container.show-right-buttons,
.stro-swipe-container.show-left-buttons,
.stro-swipe-container.show-right-buttons .stro-button,
.stro-swipe-container.show-left-buttons .stro-button{
  transition: all .3s ease;
}

.addedpoints-enter {
  opacity: 0.01;
}

.addedpoints-enter.addedpoints-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.addedpoints-leave {
  opacity: 1;
}

.addedpoints-leave.addedpoints-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear.addedpoints-appear-active {
    opacity: 1;
}

.ReactModal__Overlay {
    z-index: 99;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Content--after-open {
    height: 16em;
    margin-top: 40%;
    border-radius: 4px;
    padding: 0px !important;
}

.ReactModal__Content {
    border: none !important;
    overflow: hidden !important;
}

.reward-toolbar {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 45px;
    right: 20px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0;
}

.reward-toolbar-added {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 45px;
    right: 20px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0.75;
    animation: scoreboxpointsanim ease-in 10s;
}

.icon {
  color: #000;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  font-family: emoji;

  &.rating-icon {
    float: left;
    margin-right: 20px;
  }
}

@keyframes scoreboxanim {
    0%,100% {
        color: #FFFFFF;
    }
    25%,50%,75% {
        color: #71c04f;
    }
}

@keyframes scoreboxpointsanim {
  0% {
    opacity:0.1;
    transform:  translate(0px,-12px);
  }

  5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,90%,95%,100% {
      opacity:0.75;
      transform:  translate(0px,0px);
  }
}

@-moz-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -moz-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -moz-transform:  translate(0px,0px);
    }
}

@-webkit-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -webkit-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -webkit-transform:  translate(0px,0px);
    }
}

@-o-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -o-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -o-transform:  translate(0px,0px);
    }
}

@-ms-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -ms-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -ms-transform:  translate(0px,0px);
    }
}
