body {
    background: #d3d3d5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.profile-image {
    float: right;
}

.header-tabs-style {
    background-color: #57c6ff;
}

.service-button-base {
    width: 100px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #71c04f;
    color: #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    border-radius: 2px;
    outline: 0;
}

.service-button-selected {
    width: 100px;
    height: 55px;
    background-color: #71c04f;
    border: 1px solid #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    color: #ffffff;
    outline: 0;
    border-radius: 2px;
}

.rate-starts {
    color: #71c04f;
}

.dismiss-button {
}

.stro-container {
  width: 300%;
  margin-left: -100% ;
  position: relative;
  height: 80px;
}

.stro-container.transition-back {
  transition: all .4s ease;
}

.stro-left {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    height: 80px;
    vertical-align: top;
    background-color: #FFFFFF;
}

.stro-content {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    vertical-align: top;
    background-color: #f8f8fa;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #000000
}

.stro-content-selected {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    vertical-align: top;
    background-color: #71c04f;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #FFFFFF
}

.stro-right {
  position: relative;
  display: inline-block;
  width: 33.33333333%;
  height: 80px;
  vertical-align: top;
  background-color: #FFFFFF;
}

.stro-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stro-button span {
  position: absolute;
  top: 27px;
  transform: translate(0, -50%);
  display: block;
}

.stro-button.stro-right-button {
  left: 0;
}
.stro-button.stro-right-button span {
  left: 0;
  text-align: center;
  top: 40px;
  font-size: 16px;
}
.stro-button.stro-left-button {
  right: 0;
}
.stro-button.stro-left-button span {
  right: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.stro-container.show-right-buttons,
.stro-container.show-left-buttons,
.stro-container.show-right-buttons .stro-button,
.stro-container.show-left-buttons .stro-button{
  transition: all .3s ease;
}

.addedpoints-enter {
  opacity: 0.01;
}

.addedpoints-enter.addedpoints-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.addedpoints-leave {
  opacity: 1;
}

.addedpoints-leave.addedpoints-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear.addedpoints-appear-active {
    opacity: 1;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Content--after-open {
    height: 40%;
    margin-top: 40%;
    border-radius: 4px;
    padding: 0px !important;
}

.scorebox-score {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    height: 6px;
    margin-top: 30%;
    text-align: center;
}

.scorebox-score-added {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    height: 6px;
    margin-top: 30%;
    text-align: center;
    animation: scoreboxanim ease-in 4s;
}

.scorebox-text {
    color: #ffffff;
    height: 6px;
    text-align: center;
}

.scorebox-text-added {
    color: #FFFFFF;
    height: 6px;
    text-align: center;
    animation: scoreboxanim ease-in 4s;
}

.scorebox-points {
    position: absolute;
    right: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 6px;
    opacity: 0;
}

.scorebox-points-added {
    position: absolute;
    right: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 6px;
    opacity: 0;
    animation: scoreboxpointsanim ease-in 4s;
}

.reward-toolbar {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 25px;
    right: 10px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0;
}

.reward-toolbar-added {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 25px;
    right: 10px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0;
    animation: scoreboxpointsanim ease-in 5s;
}

@keyframes scoreboxanim {
    0% {
        color: #FFFFFF;
    }
    25% {
        color: #71c04f;
    }
    50% {
        color: #71c04f;
    }
    75% {
        color: #71c04f;
    }
	100% {
        color: #FFFFFF;
    }
}

@keyframes scoreboxpointsanim {
  0% {
    opacity:0.1;
    transform:  translate(0px,-12px);
  }
  25% {
    opacity:1;
    transform:  translate(0px,0px);
  }
  50% {
    opacity:1;
    transform:  translate(0px,0px);
  }
  75% {
    opacity:1;
    transform:  translate(0px,0px);
  }
  100% {
    opacity:0;
    transform:  translate(0px,-12px);
  }
}

@-moz-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -moz-transform:  translate(0px,-12px);
    }
    25% {
      opacity:1;
      -moz-transform:  translate(0px,0px);
    }
    50% {
      opacity:1;
      -moz-transform:  translate(0px,0px);
    }
    75% {
      opacity:1;
      -moz-transform:  translate(0px,0px);
    }
    100% {
      opacity:0;
      -moz-transform:  translate(0px,-12px);
    }
}

@-webkit-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -webkit-transform:  translate(0px,-12px);
    }
    25% {
      opacity:1;
      -webkit-transform:  translate(0px,0px);
    }
    50% {
      opacity:1;
      -webkit-transform:  translate(0px,0px);
    }
    75% {
      opacity:1;
      -webkit-transform:  translate(0px,0px);
    }
    100% {
      opacity:0;
      -webkit-transform:  translate(0px,-12px);
    }
}

@-o-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -o-transform:  translate(0px,-12px);
    }
    25% {
      opacity:1;
      -o-transform:  translate(0px,0px);
    }
    50% {
      opacity:1;
      -o-transform:  translate(0px,0px);
    }
    75% {
      opacity:1;
      -o-transform:  translate(0px,0px);
    }
    100% {
      opacity:0;
      -o-transform:  translate(0px,-12px);
    }
}

@-ms-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -ms-transform:  translate(0px,-12px);
    }
    25% {
      opacity:1;
      -ms-transform:  translate(0px,0px);
    }
    50% {
      opacity:1;
      -ms-transform:  translate(0px,0px);
    }
    75% {
      opacity:1;
      -ms-transform:  translate(0px,0px);
    }
    100% {
      opacity:0;
      -ms-transform:  translate(0px,-12px);
    }
}
