body {
    background: #d3d3d5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 1px solid gray;
}

.three-bounce .bounce1 {
    background-color: #71c04f;
}

.three-bounce .bounce2 {
    background-color: #71c04f;
}

.three-bounce .bounce3 {
    background-color: #71c04f;
}

.signin-error-message {
    color: #de3226;
    font-size: 12px;
    margin-top: 3px;
}

.signup-error-message {
    color: #de3226;
    font-size: 12px;
    position: absolute;
    margin-top: 3px;
    width: 240px;
    margin-left: -120px;
    left: 50%;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.textfield {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    color: #1c1c1c;
}

.mdl-spinner__circle-clipper {
    border-color: #71c04f;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #71c04f;
}

.mdl-textfield .mdl-js-textfield .mdl-textfield--floating-label .textfield .is-dirty .is-upgraded .is-focused {
    border-color: #71c04f;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.profile-image {
    float: right;
}

.header-tabs-style {
    background-color: #57c6ff;
}

.service-button-base {
    width: 100px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #71c04f;
    color: #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    border-radius: 2px;
    outline: 0;
}

.service-button-selected {
    width: 100px;
    height: 55px;
    background-color: #71c04f;
    border: 1px solid #71c04f;
    margin: 12px 8px;
    line-height: 16px;
    text-align: left;
    text-transform: none;
    color: #ffffff;
    outline: 0;
    border-radius: 2px;
}

.rate-starts {
    color: #71c04f;
}

.dismiss-button {
}

.stro-container {
  width: 300%;
  margin-left: -100% ;
  position: relative;
  height: 80px;
}

.stro-container.transition-back {
  transition: all .4s ease;
}

.stro-left {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    height: 80px;
    vertical-align: top;
    background-color: #FFFFFF;
}

.stro-content {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    vertical-align: top;
    background-color: #f8f8fa;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #000000
}

.stro-content-selected {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    vertical-align: top;
    background-color: #71c04f;
    height: 80px;
    padding-left: 10px;
    text-align: left;
    color: #FFFFFF
}

.stro-right {
  position: relative;
  display: inline-block;
  width: 33.33333333%;
  height: 80px;
  vertical-align: top;
  background-color: #FFFFFF;
}

.stro-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stro-button span {
  position: absolute;
  top: 27px;
  transform: translate(0, -50%);
  display: block;
}

.stro-button.stro-right-button {
  left: 0;
}
.stro-button.stro-right-button span {
  left: 0;
  text-align: center;
  top: 40px;
  font-size: 16px;
}
.stro-button.stro-left-button {
  right: 0;
}
.stro-button.stro-left-button span {
  right: 1px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.stro-container.show-right-buttons,
.stro-container.show-left-buttons,
.stro-container.show-right-buttons .stro-button,
.stro-container.show-left-buttons .stro-button{
  transition: all .3s ease;
}

.addedpoints-enter {
  opacity: 0.01;
}

.addedpoints-enter.addedpoints-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.addedpoints-leave {
  opacity: 1;
}

.addedpoints-leave.addedpoints-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.addedpoints-appear.addedpoints-appear-active {
    opacity: 1;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Content--after-open {
    height: 16em;
    margin-top: 40%;
    border-radius: 4px;
    padding: 0px !important;
}

.ReactModal__Content {
    border: none !important;
    overflow: hidden !important;
}

.scorebox-score {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    height: 10px;
    margin-top: 30%;
    text-align: center;
}

.scorebox-score-added {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    height: 10px;
    margin-top: 30%;
    text-align: center;
    animation: scoreboxanim ease-in 4s;
}

.scorebox-text {
    color: #ffffff;
    height: 6px;
    text-align: center;
}

.scorebox-text-added {
    color: #FFFFFF;
    height: 6px;
    text-align: center;
    animation: scoreboxanim ease-in 4s;
}

.scorebox-points {
    position: absolute;
    right: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 6px;
    opacity: 0;
}

.scorebox-points-added {
    position: absolute;
    right: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 6px;
    opacity: 0.75;
    animation: scoreboxpointsanim ease-in 4s;
}

.reward-toolbar {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 45px;
    right: 20px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0;
}

.reward-toolbar-added {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    top: 45px;
    right: 20px;
    z-index: 1000;
    border-radius: 2px;
    opacity: 0.75;
    animation: scoreboxpointsanim ease-in 10s;
}

@keyframes scoreboxanim {
    0%,100% {
        color: #FFFFFF;
    }
    25%,50%,75% {
        color: #71c04f;
    }
}

@keyframes scoreboxpointsanim {
  0% {
    opacity:0.1;
    transform:  translate(0px,-12px);
  }

  5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,90%,95%,100% {
      opacity:0.75;
      transform:  translate(0px,0px);
  }
}

@-moz-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -moz-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -moz-transform:  translate(0px,0px);
    }
}

@-webkit-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -webkit-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -webkit-transform:  translate(0px,0px);
    }
}

@-o-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -o-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -o-transform:  translate(0px,0px);
    }
}

@-ms-keyframes scoreboxpointsanim {
    0% {
      opacity:0.1;
      -ms-transform:  translate(0px,-12px);
    }
    5%,10%,15%,20%,25%,30%,35%,40%,45%,50%,55%,60%,65%,75%,85%,95%,100% {
        opacity:0.75;
        -ms-transform:  translate(0px,0px);
    }
}
