.app-container {
  .header {
    background-image: url('../../../images/sf_day.jpg');
    background-color: #81d05f;
    height: 200px;
    background-position: center center;
    position: relative;
  }

  .logo {
    margin-top: 0;
    margin-left: 10px;
    position: absolute;
  }
}