.app-container {
  height: 100%;
  overflow: hidden;

  .header {
    background-image: url('../../../images/sf_day.jpg');
    background-position: center bottom;
    background-size: cover;
    position: relative;
  }

  .logo {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
}