.question-item {
  .question-item-points {
    color: #71c04f;
    font-size: 17px;
    font-weight: 400;

    .points-copy {
      font-size: 15px;
      font-weight: 200;
      text-indent: -1px;
    }
  }
}